<% provide(:title, 'Tracks') %>

<% if current_user.admin? %>
	<%= link_to "Create new lesson for #{@track.name}", new_course_path, class: "button button-red action-button-top-right" %>
<% end %>
<%= link_to "Back to Course", tracks_path(@course), class: "button button-blue action-button-top-right" %>

<h1><%= @track.name %></h1>