<% provide(:title, 'About') %>

<h1>About</h1>

<p>Code was designed and developed by Tim Green - aged 16. It was initally conceived after trying to learn programming and wasting countless hours learning the wrong languages, the wrong way.</p>

<p>Whether you want to build an interective database-driven website, a blog or just a simple website Code will guide you down the exact path you need to excel. Not only that but we will only teach you the things you need to know. There's no "here's how to draw a blue square on a webpage", it's just the useful, required skills you need to get started.</p>

<p><%= link_to "Create an account!", signup_path, class: "button button-blue" %></p>