<div class="home-first-banner">
	<div class="center">
	<h1>Sign up now!</h1>
	<p>Learn how to build interactive, databse driven websites - for free!</p>
	<p><%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %></p>
</div>

