<% provide(:title, 'Lessons') %>

<% if current_user.admin? || current_user.course_creator? %>
	<%= link_to "Create new tutorial", new_track_tutorial_path, class: "button-nav button-nav-red action-button-top-right" %>
	<%= link_to "Create new lesson", new_track_lesson_path, class: "button-nav button-nav-red action-button-top-right" %>
<% end %>
<%= link_to "Back to Tracks", tracks_path(@course), class: "button-nav button-nav-green action-button-top-right" %>

<h1 class="lessons-index-track-name"><%= @track.name %></h1>