// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-card {background:#F5F5F5;width:800px;height:200px;text-align:center;border:1px solid #ABABAB;display:inline-block;margin:10px auto;}
.course-card {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
          border-radius: 4px;    
  -webkit-transition: border 1000ms ease-out; 
     -moz-transition: border 1000ms ease-out;
       -o-transition: border 1000ms ease-out;
          transition: border 1000ms ease-out; 
}
.course-card:hover {border:1px solid #FA0000;text-decoration:none;}
.course-card-info-title {font-weight:bold;color:#000000;padding-top:20px;}
.course-card-info-description {color:#696969;width:80%;margin: 0 auto;}
.course-card-button {margin:20px 0;}
.course-card-delete {float:right;margin-right:5px;}

.action-course-button {float:right;}
.new-course-action {float:right;}
.new-course-action .letter-counter {padding-right:10px;}