// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Main Functionality */
.action-button-top-right {float:right;}
.light-gray {color:#ABABAB;}
.center {text-align:center}

/* Buttons */
.button-nav {margin: 10px 10px 20px 10px;padding: 14px 26px;font-size: 14px;line-height: 100%;color: #fff;display:inline-block;vertical-align: middle;text-align: center;cursor: pointer;font-weight: bold;transition: background 0.1s ease-in-out;-webkit-transition: background 0.1s ease-in-out;-moz-transition: background 0.1s ease-in-out;-ms-transition: background 0.1s ease-in-out;-o-transition: background 0.1s ease-in-out;text-shadow: 0 1px rgba(0, 0, 0, 0.3);color: #fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font-family: 'Helvetica Neue', Helvetica, sans-serif;}
.button-nav:active {margin-bottom: 19px;}
.button-nav, .button-nav:hover, .button-nav:active {outline: 0 none;text-decoration: none;color: #fff;}

.button-nav-blue {background-color: #3fb8e8;box-shadow: 0px 3px 0px 0px #3293ba;}
.button-nav-blue:hover {background-color: #1baae3;}
.button-nav-blue:active {box-shadow: 0px 1px 0px 0px #3293ba;}

.button-nav-red {background-color: #f06060;box-shadow: 0px 3px 0px 0px #cd1313;}
.button-nav-red:hover {background-color: #ed4444;}
.button-nav-red:active {box-shadow: 0px 1px 0px 0px #cd1313;}

.button-nav-pink {background-color: #ff6a80;box-shadow: 0px 3px 0px 0px #1B8571;}
.button-nav-pink:hover {background-color: #2DB59C;}
.button-nav-pink:active {box-shadow: 0px 1px 0px 0px #1B8571;}

.button-nav-green {background-color: #02daaf;box-shadow: 0px 3px 0px 0px #0F6E2C;}
.button-nav-green:hover {background-color: #2BBDA2;}
.button-nav-green:active {box-shadow: 0px 1px 0px 0px #0F6E2C;}