// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$width-of-lessons-sidebar: 300px;

/* show */
.sidebar-lessons {position:absolute;top:61px;right:0;background:#F5F5F5;width:$width-of-lessons-sidebar;bottom:72px;overflow-y:scroll;padding-bottom:40px;}
.sidebar-submit {position:fixed;right:0;bottom:0;width:$width-of-lessons-sidebar;height:90px;background:#eee;text-align:center;border-top:1px solid #ABABAB;}
.sidebar-submit a {margin:20px auto;}
.lessons-container {padding:10px 20px;}
.lesson-task-box {padding:10px 20px;background:#ACFCAC;border-top:1px solid #ababab;border-bottom:1px solid #ababab;}
.lesson-hints-expand:hover {cursor:pointer;}
.edit-lesson-show {text-align:center;}
.lesson-instructions-helper {margin-bottom:7px;}

/* index */
.lessons-action {margin:0 10px;}
.lessons-index-track-name {clear:both;}