// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-column {width:855px;background:#eee}
.right-column {width:100px;}
.right-column ul {width:100px;}